* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #676a6c;
    background-color: #f3f3f4;
}


.justify-content-center {
    color: #f3f3f4;
    background-color: #2f4050;
}

.invert {
    color: #2f4050;
    background-color: #f3f3f4;
}

.login-wrap {
    text-align: center;
    padding: 20px;
    border: 1px solid #293846;
}

.logo {
    width: 50px;
}

.form-group {
    padding: 10px 20px;
    margin: 0;
}

#username {
    border-radius: 0;
}

#enter-btn {
    margin: 0;
    margin-top: 10px;
    border-radius: 0;
    background-image: initial;
    box-shadow: initial;
    background-color: #1ab394;
    color: #ffffff;
}


.navbar-default {
    border: 0;
    background-color: #293846;
    padding: 14px 0;
    width: 100%;
    min-height: 58px;
    top: 0;
    color: #f3f3f4;
    font-weight: 600;
    font-size: 20px;
}

.container-fluid, .row.no-gutters {
    height: 100%;
}

.ellipsis {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar {
    background-color: #2f4050;
    color: #f3f3f4;
}

.nav.flex-column {
    overflow: scroll;
    height: 100%;
}

.nav.flex-column > li + li {
    margin-top: 0;
}

.nav.flex-column > li > a {
    border-radius: initial;
    color: inherit;
}

.nav.flex-column > li:hover {
    background-color: rgba(41, 56, 70, 0.5);
}

.nav.flex-column > li:focus,
.nav.flex-column > li.active {
    background-color: #293846;
}

.nav.flex-column > li:focus .name,
.nav.flex-column > li.active .name {
    color: #1ab394;
}

.nav.flex-column > li:focus .last-message,
.nav.flex-column > li.active .last-message {
    color: #f3f3f4;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.conversation-info {
    display: inline-block;
}

.name {
    font-size: 15px;
    font-weight: 600;
    color: #1ab394;
}

.chat-header {
    color: #fff;
    font-size: 25px;
    padding-left: 10px;
}

#history {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    height: 100%;
    padding-bottom: 139px;
    overflow: scroll;
}

#history .d-flex {
    margin-bottom: 2px;
}

.message {
    padding: 5px 10px;
    background: rgba(103, 106, 108, 0.1);
    color: #000000;
    border-radius: 5px;
}

.message.mine {
    background-color: rgba(26, 179, 148, 0.1);
}

#type-message-group {
    padding: 10px 20px;
    background-color: #ededed;
    position: fixed;
    bottom: 0;
}

#type-message {
    border: 0;
    border-radius: 0;
}

#type-message-btn {
    margin: 0;
    border-radius: 0;
    background-image: initial;
    box-shadow: initial;
    background-color: #1ab394;
    color: #ffffff;
}